# macOS
.DS_Store

# Python
__pycache__/
*.pyc
.venv/
.python-version

# uv
uv.lock

# bun/node
node_modules/
bun.lockb

# env
.env
.env.local

# build
**/*.egg-info/

backend/logs/
backend/online_logs/
backend/outputs/